@font-face {
  font-family: "style";
  font-weight: bolder;         
  src: url("./font/style.ttf"); 
}
@font-face {
  font-family: "br";  
  font-weight: bolder;       
  src: url("./font/br.ttf"); 
}
@font-face {
  font-family: "kr";  
  font-weight: bolder;       
  src: url("./font/kr.ttf"); 
}
@font-face {
  font-family: "jr";  
  font-weight: bolder;       
  src: url("./font/jr.ttf"); 
}
@font-face {
  font-family: "hr";
  font-weight: 100;
  src: url("./font/hr.ttf") format("truetype");
}
@font-face {
  font-family: "ls";
  font-weight: 50;
  src: url("./font/ls.ttf") format("truetype");
}


